/* ------------------- CSS RESET ------------------- */
/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
 margin:0;
 padding:0;
 border:0;
 outline:0;
 font-size:100%;
 vertical-align:baseline;
 background:transparent;
}
body {
 line-height:1;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
 display:block;
}
nav ul {
 list-style:none;
}
blockquote, q {
 quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
 content:'';
 content:none;
}
a {
 margin:0;
 padding:0;
 font-size:100%;
 vertical-align:baseline;
 background:transparent;
}
/* change colours to suit your needs */
ins {
 background-color:#ff9;
 color:#000;
 text-decoration:none;
}
/* change colours to suit your needs */
mark {
 background-color:#ff9;
 color:#000; 
 font-style:italic;
 font-weight:bold;
}
del {
 text-decoration: line-through;
}
abbr[title], dfn[title] {
 border-bottom:1px dotted;
 cursor:help;
}
table {
 border-collapse:collapse;
 border-spacing:0;
}
/* change border colour to suit your needs */
hr {
 display:block;
 height:1px;
 border:0; 
 border-top:1px solid #cccccc;
 margin:1em 0;
 padding:0;
}
input, select {
 vertical-align:middle;
}
/* box sizing addition */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }
/* ------------------- CSS RESET ------------------- */

/* ---------------- BUTTON RESET ---------------- */
button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
/* ---------------- BUTTON RESET ---------------- */

/* -------------------- SIGNUP SECTION --------------------*/
#signupForm {
  text-align: center;
  padding: 10px;
}

#signupButton {
  margin: 10px 0 0 0;
  border-radius: 5px;
  border: 1px solid black;
  padding: 8px;
  transition: background-color 0.5s ease;
}

#signupButton:hover {
  background-color: chocolate;
}

#signupButton:active {
  background-color: red;
}
/* -------------------- SIGNUP SECTION --------------------*/

/* --------------- SIGNUP SUCCESS SECTION ---------------*/
#signupSuccessPage {
  margin-top: 30px;
  margin-bottom: 50px;
  text-align: center;
}

#successText {
  margin: auto;
  width: 60%;
  text-align: center;
  margin-bottom: 10%;
  font-weight: bold;
}

#signupSuccessEmail {
  color: blue;
}

#returnToLogin {
  border-radius: 5px;
  border: 1px solid black;
  padding: 8px;
  margin: auto;
  margin-top: 20px;
}
/* --------------- SIGNUP SUCCESS SECTION ---------------*/

/* -------------------- LOGIN SECTION --------------------*/
h1 {
  text-align: center;
  margin: 10px 0 10px 0;
  background-color: bisque;
}

#slogan {
  font-size: 12px;
  text-align: center;
  color: grey;
}

#loginForm, #locationForm {
  display: block;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 50%;
  text-align: center;
}

#loginForm > button, #locationForm > button {
  margin: auto;
  padding: 5px;
  margin-top: 5px;
  border: 1px solid rgb(202, 178, 178);
  border-radius: 5px;
  transition: background-color 0.5s ease;
}

#loginForm > button:hover {
  background-color: cadetblue;
}

#register {
  background-color: cornflowerblue;
}

.input {
  margin-bottom: 5px;
}
/* -------------------- LOGIN SECTION --------------------*/

/* ----------------- SETUP/DISCLAIMER SECTION -----------------*/
#disclaimerSubText {
  margin-top: 20px !important;
}

#decline {
  background-color: brown;
}

#decline:hover {
  background-color: indianred;
}

#waitingRoom {
  margin: 40px 25% 60px 25%;
  text-align: center;
}

#questionForm, #disclaimerForm, #locationForm {
  height: 20%;
  width: 75%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 25px;
  text-align: center;
  padding: 10px;
  background-color: #ccccff;
  border-radius: 5px;
}

#locationForm > input {
  margin-top: 10px;
}

#questionText, #disclaimerText, .tripText {
  width: 80%;
  margin: auto;
  margin-bottom: 5px;
  text-align: center;
  font-size: 20px;
}

#questionSubText, #disclaimerSubText {
  color: grey;
  width: 80%;
  margin: auto;
  margin-bottom: 10px;
  font-size: 14px;
}

.button {
  padding: 8px 12px 8px 12px;
  border-radius: 5px;
  margin: 20px 8px 10px 8px;
  background-color: darkolivegreen;
  transition: background-color 0.5s ease;
}

.button:hover {
  background-color: forestgreen;
}
/* ----------------- SETUP/DISCLAIMER SECTION -----------------*/

/* ----------------- SETUP CONFIRMATION SECTION -----------------*/
#confirmList {
  margin-top: 15px;
  color: rgb(138, 106, 27);
}

#confirmList li {
  list-style-type: none;
  margin: 0 0 5px 0;
}

.tripText {
  font-size: 15px;
  margin-top: 10px;
}

.fromCity, .toCity {
  color: blue;
}

.confirmButton {
  background-color: darkgreen;
}

.confirmButton:hover {
  background-color: #4CAF50;
}

.retryButton {
  background-color: brown;
}

.retryButton:hover {
  background-color: lightcoral;
}
/* ----------------- SETUP CONFIRMATION SECTION -----------------*/

/* -------------------- LIST SECTION --------------------*/
#moveList > li, .itemContainer {
  width: 75%;
  padding: 5px 5px 5px 30px;
  margin: 5px 0 5px 40px;
  border: 1px solid grey;
  background-color: aliceblue;
  list-style-type: none;
}

#moveList li a {
  text-decoration: none;
  color: inherit;
  display: block;
}

.itemContent {
  display: none;
  margin: 5px 0 5px 0;
}

.checkBox {
  display: inline-flex;
  position: relative;
  left: 50px;
  border: 2px solid black;
  height: 16px;
  width: 16px;
}

.checked {
  background-color: grey !important;
}

/* -------------------- LIST SECTION--------------------*/

/* -------------------- UNIVERSAL --------------------*/
footer > p {
  font-size: 8px;
  transition: font-size 0.75s ease;
  width: 38%;
  margin-left: 7%;
}

footer > p:hover {
  font-size: 12px;
}

footer > p a {
  text-decoration: none;
}
/* ------- HIDE PAGES TO SIMULATE FLOW ------- */
#signupPage, #signupSuccessPage, #loginPage, #locationPage, #setupConfirmPage, #listPage, #waitingRoom {
  display: none;
}

#disclaimerPage {
  display: ;
}

#setupPage {
  display: none;
}
/* -------------------- UNIVERSAL --------------------*/