/* ------------------- CSS RESET ------------------- */
/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
 margin:0;
 padding:0;
 border:0;
 outline:0;
 font-size:100%;
 vertical-align:baseline;
 background:transparent;
}
body {
 line-height:1;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
 display:block;
}
nav ul {
 list-style:none;
}
blockquote, q {
 quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
 content:'';
 content:none;
}
a {
 margin:0;
 padding:0;
 font-size:100%;
 vertical-align:baseline;
 background:transparent;
}
/* change colours to suit your needs */
ins {
 background-color:#ff9;
 color:#000;
 text-decoration:none;
}
/* change colours to suit your needs */
mark {
 background-color:#ff9;
 color:#000; 
 font-style:italic;
 font-weight:bold;
}
del {
 text-decoration: line-through;
}
abbr[title], dfn[title] {
 border-bottom:1px dotted;
 cursor:help;
}
table {
 border-collapse:collapse;
 border-spacing:0;
}
/* change border colour to suit your needs */
hr {
 display:block;
 height:1px;
 border:0; 
 border-top:1px solid #cccccc;
 margin:1em 0;
 padding:0;
}
input, select {
 vertical-align:middle;
}
/* box sizing addition */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }
/* ------------------- CSS RESET ------------------- */

/* ---------------- BUTTON RESET ---------------- */
button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
/* ---------------- BUTTON RESET ---------------- */

html { 
  background: url(images/openRoad.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* -------------------- NAVBAR SECTION --------------------*/
#navBar {
  margin-bottom: 30px;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  list-style-type: none;
}

#navBar > li {
  float: left;
  text-decoration: none;
}

#navBar > li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#navBar > li a:hover {
    background-color: #111;
}

#userNav {
  position: absolute;
  right: 25px;
}

#tripNav {
  position: absolute;
  right: 100px;
}

#tripNavButton {
  display: none;
}
/* -------------------- NAVBAR SECTION --------------------*/

/* -------------------- HOME PAGE SECTION --------------------*/
#homePage {
  background-color: rgba(193, 66, 66, 0.85);
  border: 1px solid white;
  border-radius: 6px;
  margin: auto;
  margin-top: 12%;
  padding: 20px;
  width: 50%;
  text-align: center;
}

#landingText {
  font-weight: bold;
  font-size: 35px;
  margin: auto;
  margin-bottom: 30px;
  padding: 5px;
}

#goToLogin {
  margin: auto;
  border-radius: 5px;
  border: 1px solid black;
  padding: 8px;
  transition: background-color 0.5s ease;
  background-color: blue;
  width: 120px;
  height: 60px;
}
/* -------------------- HOME PAGE SECTION --------------------*/

/* -------------------- CONTACT SECTION --------------------*/
#contactPage {
  width: 30%;
  text-align: center;
  margin: auto;
  padding: 10px;
  background-color: aliceblue;
  border: 1px solid grey;
  border-radius: 4px;
}

#contactPage > p {
  margin: auto;
}
/* -------------------- CONTACT SECTION --------------------*/

/* -------------------- SIGNUP SECTION --------------------*/
#signupForm {
  width: 50%;
  margin: auto;
  background-color: aliceblue;
  border: 1px solid grey;
  text-align: center;
  padding: 10px;
}

#signupButton {
  margin: 10px 0 0 0;
  border-radius: 5px;
  border: 1px solid black;
  padding: 8px;
  transition: background-color 0.5s ease;
}

#signupButton:hover {
  background-color: chocolate;
}

#signupButton:active {
  background-color: red;
}
/* -------------------- SIGNUP SECTION --------------------*/

/* --------------- SIGNUP SUCCESS SECTION ---------------*/
#signupSuccessPage {
  margin-top: 30px;
  margin-bottom: 50px;
  text-align: center;
}

#successText {
  margin: auto;
  width: 60%;
  text-align: center;
  margin-bottom: 10%;
  font-weight: bold;
}

#signupSuccessEmail {
  color: blue;
}

#returnToLogin {
  border-radius: 5px;
  border: 1px solid black;
  padding: 8px;
  margin: auto;
  margin-top: 20px;
}
/* --------------- SIGNUP SUCCESS SECTION ---------------*/

/* -------------------- LOGIN SECTION --------------------*/
h1 {
  font-weight: bold;
  color: white;
  display: block;
  text-align: center;
  padding: 20px 0px 10px 0px;
  height: 50px;
  background-color: #99ccff;
}

#slogan {
  font-size: 12px;
  text-align: center;
  color: grey;
  background-color: #99ccff;
}

#loginForm {
  padding: 10px;
  background-color: cornflowerblue;
  border-radius: 4px;
  border: 2px solid grey;
}

#loginForm, #locationForm {
  display: block;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 50%;
  text-align: center;
}

#loginForm > button, #locationForm > button {
  margin: auto;
  padding: 5px;
  margin-top: 5px;
  border: 1px solid rgb(202, 178, 178);
  border-radius: 5px;
  transition: background-color 0.5s ease;
}

#loginForm > button:hover {
  background-color: cadetblue;
}

#register {
  background-color: cornflowerblue;
}

.input {
  margin-bottom: 5px;
}
/* -------------------- LOGIN SECTION --------------------*/

/* ----------------- SETUP/DISCLAIMER SECTION -----------------*/
#disclaimerSubText {
  margin-top: 20px !important;
}

#questionForm, #questionForm2, #disclaimerForm, #locationForm {
  height: 20%;
  width: 75%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 25px;
  text-align: center;
  padding: 10px;
  background-color: #ccccff;
  border-radius: 5px;
}

#locationForm > input {
  margin-top: 10px;
}

#questionText, #disclaimerText, .tripText {
  width: 80%;
  margin: auto;
  margin-bottom: 5px;
  text-align: center;
  font-size: 20px;
}

.tripText {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
}

#questionSubText, #disclaimerSubText {
  color: grey;
  width: 80%;
  margin: auto;
  margin-bottom: 10px;
  font-size: 14px;
}

.button {
  padding: 8px 12px 8px 12px;
  border-radius: 5px;
  margin: 20px 8px 10px 8px;
  background-color: darkolivegreen;
  transition: background-color 0.5s ease;
}

.button:hover {
  background-color: forestgreen;
}
/* ----------------- SETUP/DISCLAIMER SECTION -----------------*/

/* ----------------- SETUP CONFIRMATION SECTION -----------------*/
#confirmList {
  margin-top: 15px;
  color: rgb(138, 106, 27);
}

#confirmList li {
  list-style-type: none;
  margin: 0 0 5px 0;
}

.tripText {
  font-size: 15px;
  margin-top: 10px;
}

.fromCity, .toCity {
  color: blue;
}

.confirmButton {
  background-color: darkgreen;
}

.confirmButton:hover {
  background-color: #4CAF50;
}

.retryButton {
  background-color: brown;
}

.retryButton:hover {
  background-color: lightcoral;
}
/* ----------------- SETUP CONFIRMATION SECTION -----------------*/

/* -------------------- LIST SECTION --------------------*/
#listPage {
  text-align: center;
}

#moveList {
  border: 1px solid grey;
  border-radius: 6px;
  background-color: #e6e9ef;
  width: 60%;
  margin: auto;
  text-align: center;
  padding: 30px;
}

#moveList > li {
  width: 70%;
  padding: 5px 5px 5px 30px;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 1px solid grey;
  background-color: aliceblue;
  list-style-type: none;
}

#moveList li a {
  text-decoration: none;
  color: inherit;
  display: block;
}

#tripText {
  margin: auto;
  margin-bottom: 20px;
  width: 250px;
  height: auto;
  text-align: center;
  background-color: rgba(147, 148, 150, 0.8);
  border: 2px solid black;
  border-radius: 6px;
}

.itemContent {
  display: none;
  margin: 5px 0 5px 0;
}

#intTravel {
  font-size: 14px;
}

.featureText {
  font-size: 10px;
}

.checkBox {
  display: inline-block;
  float: right;
  border-radius: 4px;
  background-color: grey;
  border: 1px solid darkgrey;
}

.done-label {
  font-size: 10px;
}

.checked {
  text-decoration: line-through;
  background-color: grey;
}

.bestOnYelp {
  color: gold;
  margin: auto;
}

.yelpResult {
  margin: auto;
}

.toggleBox {
  position: relative;
  right: 24px;
  bottom: 5px;
  float: left;
  border: 1px solid grey;
  background-color: darkgrey;
  border-radius: 4px;
  height: 20px;
  width: 20px;
  padding: 3px;
  margin: 3px;
  font-size: 11px;
  font-weight: bold;
  transition: background-color ease 0.25s;
}

.toggleBox:hover {
  background-color: grey;
}

.deleteBox {
  display: inline-block;
  position: relative;
  left: 3px;
  bottom: 5px;
  float: right;
  border: 1px solid grey;
  background-color: brown;
  border-radius: 4px;
  height: 20px;
  width: 20px;
  padding: 3px;
  margin: 3px;
  font-size: 11px;
  font-weight: bold;
  transition: background-color ease 0.25s;
}

.deleteBox:hover {
  background-color: #d18f3a;
}

#restartButton {
  background-color: brown;
  margin: auto;
  padding: 8px 12px 8px 12px;
  border-radius: 5px;
  margin: 20px 8px 10px 8px;
  transition: background-color ease 0.25s;
}

#restartButton:hover {
  background-color: orange;
}

#restartButton:active {
  background-color: gold;
}
/* -------------------- LIST SECTION--------------------*/

/* -------------------- UNIVERSAL --------------------*/
footer > p {
  font-size: 8px;
  transition: font-size 0.75s ease;
  margin-left: 7%;
  background-color: lightgrey;
  width: 130px;
}

@media only screen and (max-width: 320px){
  #landingText {
    font-size: 25px;
  }
  #moveList > li {
  	width: 30%;
  }

}

/* ------- HIDE PAGES TO SIMULATE FLOW ------- */
#signupPage, #disclaimerPage, #signupSuccessPage, #locationPage, #setupConfirmPage, #listPage, #waitingRoom, #contactPage {
  display: none;
}

#loginPage {
  display: none;
}

#setupPage {
  display: none;
}

#homePage {
  display: ;
}

.hidden {
  display: none;
}
/* -------------------- UNIVERSAL --------------------*/